*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
body{
    background: url(https://cdn.pixabay.com/photo/2016/11/12/20/20/poppy-1819645_1280.jpg) no-repeat top center;
    background-size: cover;
    height=100vh;

}
.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(54, 53, 53, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,.msg-field{
    width: 48%;
}
.input-fields .input,msg-field textarea{
margin: 10px 0;
background: transparent;
border: 0;
border-bottom: 2px solid #c5ecfd;
padding:10px;
color: #c5ecfd;
width: 100%;
}
.msg-field textarea{
height:212px;
}
::-webkit-input-placeholder{
    color: #c5ecfd;
}
::-moz-input-placeholder{
    color: #c5ecfd;
}
::-ms-input-placeholder{
    color: #c5ecfd;
}
.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}